.vscode
output
/Librerias/Adafruit_BusIO-master
/Librerias/Arduino-AsyncTask-master
/Librerias/DallasTemperature
/Librerias/EEPROM
/Librerias/hx710B_pressure_sensor-main
/Librerias/LiquidCrystal
/Librerias/OneWire

*.md
!3-estructura-software.md
Documentacion/Presupuesto/PRO-20250424-001.html
Documentacion/Presupuesto/Proforma_PRO-ITS-20250424-221.pdf
