# .vscode
output
/Librerias/Adafruit_BusIO-master
/Librerias/Arduino-AsyncTask
/Librerias/DallasTemperature
/Librerias/EEPROM
/Librerias/Hardware-Serial
/Librerias/hx710B_pressure_sensor-main
/Librerias/LiquidCrystal
/Librerias/OneWire

# *.md
!3-estructura-software.md
Documentacion/Presupuesto/
Documentacion/Analisis-de-codigo/
Documentacion/Librerias/
automLavanderia_v1/automLavanderia_v1.ino
Nextion/hmi-controlador-lavadora-socabaya.HMI
Nextion/fonts/Arial24Bold.zi
Nextion/fonts/ArialBlanco24Bold.zi
